.profileContainer {
    display: flex;
    align-items: center;
}

.profileContainer > img {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.profileContainer div {
    margin-left: 1.5rem;
}

.profileContainer div strong {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
}

.profileContainer div p {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.profileContainer div p img {
margin-right: 0.5rem;
}

.inputUserGit {
    border: none;
    outline: 0;
    margin-bottom: 1.5rem;
    padding: 5px;

    border-radius: 5px;
    height: 1.9rem;

}


.btnUserGit {
    width: 30%;
    height: 2.6rem;
    margin-left: 15px;
 
    border: 0;
    border-radius: 4px;
  
    background: var(--blue);
    color: var(--white);
  
    font-size: 1.25rem;
    font-weight: 600;
}